Cython<3.0
absl-py==2.3.1
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
altair==5.4.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.11.0
appdirs==1.4.4
astroid==4.0.1
astunparse==1.6.3
attrs==24.2.0
auto-py-to-exe==2.44.1
beautifulsoup4==4.12.3
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
bs4==0.0.2
build==1.3.0
buildozer==1.5.0
cachetools==5.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
dataclasses-json==0.6.7
dill==0.4.0
distlib==0.4.0
docker==7.1.0
docutils==0.21.2
Eel==0.17.0
et_xmlfile==2.0.0
fastapi==0.118.0
ffmpy==0.6.1
filelock==3.19.1
Flask==3.0.3
flatbuffers==25.2.10
fonttools==4.53.1
frozenlist==1.7.0
fsspec==2025.9.0
future==1.0.0
gast==0.6.0
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.34.0
google-pasta==0.2.0
gradio==5.23.2
gradio_client==1.8.0
greenlet==3.0.3
groovy==0.1.2
grpcio==1.75.0
h11==0.16.0
h5py==3.14.0
hf-xet==1.1.10
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
ibm-cos-sdk==2.14.3
ibm-cos-sdk-core==2.14.3
ibm-cos-sdk-s3transfer==2.14.3
ibm_watson_machine_learning==1.0.368
idna==3.8
importlib_metadata==8.7.0
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keras==3.11.3
Kivy==2.3.0
Kivy-Garden==0.1.5
kiwisolver==1.4.5
langchain==0.1.11
langchain-community==0.0.38
langchain-core==0.1.53
langchain-text-splitters==0.0.2
langsmith==0.1.147
libclang==18.1.1
lomond==0.3.3
lxml==6.0.2
macholib==1.16.3
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.9.2
mccabe==0.7.0
mdurl==0.1.2
ml_dtypes==0.5.3
mpmath==1.3.0
multidict==6.6.4
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.8.0
networkx==3.5
numpy==1.26.4
ollama==0.6.0
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
orjson==3.11.3
packaging==23.2
Panda3D==1.10.15
pandas==2.1.4
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.4.0
plotly==6.3.1
propcache==0.4.0
protobuf==5.29.5
ptyprocess==0.7.0
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.11.10
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pylint==4.0.0
pyparsing==3.1.2
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
referencing==0.35.1
regex==2025.9.18
requests==2.32.5
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
ruff==0.13.3
safehttpx==0.1.6
safetensors==0.6.2
semantic-version==2.10.0
sh==1.14.3
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.43
starlette==0.48.0
streamlit==1.37.1
sympy==1.14.0
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
tokenizers==0.15.2
toml==0.10.2
tomlkit==0.13.3
torch==2.2.1
tornado==6.4.1
tqdm==4.67.1
transformers==4.38.2
typer==0.19.2
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.37.0
virtualenv==20.34.0
watchdog==4.0.2
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.0.4
whichcraft==0.6.1
wrapt==1.17.3
yarl==1.21.0
zipp==3.23.0
zope.event==5.0
zope.interface==7.0.1
